@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.hero-bd {
  background: #307d99;

  text-align: center;
  padding-bottom: 4em;
  font-size: bold;
  color: white;
}
header {
  padding: 1em 0;
}

a {
  color: white;
  font-weight: bold;
}
h1 {
  font-size: 2.5rem;
  margin: 2em 0 1.2em;
}
h1 span {
  text-transform: uppercase;
  display: block;
  font-size: 1.4rem;
}

.form-container {
  background-color: white;
  margin: 2em -1em 0;
  padding: 5em;
  height: 7em;
  position: relative;
}
label {
  color: #307d99;
  font-weight: bold;
  padding: 1em;
  font-size: 2em;
  width: 100%;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
input {
  border: 1px solid gray;
  border-radius: 0.5em;
  float: left;
  width: 70%;
  padding: 1em;
  margin: 2.5em;
  position: absolute;
  bottom: 0;
  left: 0;
}
button {
  background-color: #f89104;
  border: none;
  width: 13%;
  height: 30%;
  padding: 1em;
  font-weight: bold;
  color: white;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  bottom: 1.5em;
  right: 1em;
}
button:hover {
  background-color: #b66b02;
  font-weight: normal;
}
.authentic {
  margin: 0;
}
img {
  width: 100%;
}
.right-col {
  text-align: center;
  margin: 3em 1em;
}
h2 {
  text-transform: uppercase;
}

p {
  line-height: 2em;
}
@media (min-width: 730px) {
  section {
    margin: 0 3em;
  }
  .form-container {
    margin: 2em -2em 0;
  }
  header {
    margin: 0 0 0 3em;
  }
}
@media (min-width: 930px) {
  .hero-bd {
    text-align: left;

    margin: 0 0 3em;
  }
  p {
    margin: 0 0 3em;
  }
  section {
    width: 65%;
  }
  .form-container {
    margin: 2em 0 0;
    padding: 2em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
  }
  form {
    display: flex;
  }
  .form-left {
    width: 70%;
  }
  label {
    margin: 0;
  }
  input[type="button"] {
    height: fit-content;
    font-size: 1.1em;
    margin-top: 2.2em;
    margin-left: 1em;
    padding: 0.7em 0;
    width: 30%;
  }

  .hero-bd p {
    margin-bottom: 0;
  }
  section.authentic {
    display: grid;
    grid-template-columns: repeat(2, 80%);
  }
  .authentic {
    margin-top: 0;
  }
  img {
    margin: 0;
  }
}
